<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Running Platform" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.5.0.v201504151636"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.5.0.v201504151636"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="1.4.1.v20160212-1350"/>
<unit id="org.eclipse.platform.sdk" version="4.5.2.M20160212-1500"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.2.v20160208-0816"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20160208-0841"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.11.1.v20160208-0816"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.11.1.v20160208-0841"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>en_AU</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
